<div class="payment-container">
    <h2>Détails de paiement</h2>
    <form (ngSubmit)="onPaymentSubmit()">
        <div class="form-group">
            <label for="cardNumber">Numéro de Carte</label>
            <input type="text" id="cardNumber" [(ngModel)]="paymentDetails.cardNumber" name="cardNumber" required>
        </div>
        <div class="form-group">
            <label for="expiryDate">Date d'expiration</label>
            <input type="text" id="expiryDate" [(ngModel)]="paymentDetails.expiryDate" name="expiryDate" required>
        </div>
        <div class="form-group">
            <label for="cardHolderName">Nom du Titulaire</label>
            <input type="text" id="cardHolderName" [(ngModel)]="paymentDetails.cardHolderName" name="cardHolderName" required>
        </div>
        <div class="form-group">
            <label for="totalAmount">Montant Total</label>
            <input type="text" id="totalAmount" [value]="totalAmount | currency: 'EUR'" disabled>
        </div>
        <button type="submit">Valider le Paiement</button>
    </form>
</div>
