<div class="container mt-4 search-container">
    <h2>Recherche de produits</h2>
    <form>
        <div class="mb-3">
            <label for="productName" class="form-label">Nom du produit:</label>
            <input type="text" id="productName" [(ngModel)]="searchTerm" name="productName" class="form-control" (input)="filterProducts()" />
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Catégorie:</label>
            <input type="text" id="category" [(ngModel)]="categorySearchTerm" name="categorySearchTerm" class="form-control" (input)="filterProducts()" />
        </div>
    </form>

    <div class="search-results mt-4">
        <table class="table" *ngIf="filteredProducts.length > 0">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Prix</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of filteredProducts">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.price | currency: 'USD' }}</td>
                    <td>
                        <button class="btn btn-primary" (click)="addToCart(product)">Ajouter au Panier</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <p *ngIf="filteredProducts.length === 0" class="alert alert-warning">Aucun produit ne correspond à votre recherche.</p>
    </div>
</div>
