<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h2 class="card-header">Inscription</h2>
                <div class="card-body">
                    <form (ngSubmit)="register()">
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="registerForm.nom" required>
                        </div>
                        <div class="mb-3">
                            <label for="prenom" class="form-label">Prénom</label>
                            <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="registerForm.prenom" required>
                        </div>
                        <div class="mb-3">
                            <label for="login" class="form-label">Login</label>
                            <input type="text" class="form-control" id="login" name="login" [(ngModel)]="registerForm.login" required>
                        </div>
						<div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="registerForm.email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Mot de passe</label>
                            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="registerForm.password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">S'inscrire</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card-footer text-center">
				<p class="mb-2">Déjà inscrit ?</p>
				<a routerLink="/login">Connectez-vous</a>
			</div>
		</div>
    </div>
</div>