<div class="container">
    <div class="row">
        <div class="col-12 text-center my-5">
            <h1>La boutique</h1>
            <p class="lead">Bienvenue sur la boutique.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <article>
                <p>Sur cette boutique fictive, vous pouvez consulter un catalogue de produits que vous pouvez acheter mais ne jamais recevoir.</p>
                <p>Pour collecter davantage de données clients, nous demandons aux visiteurs de créer un compte pour voir le catalogue.</p>
            </article>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <a href="/register" class="btn btn-primary">Créer un compte</a>
            <a href="/catalog" class="btn btn-secondary">Voir le catalogue</a>
        </div>
    </div>
</div>
